/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
/* Font import */

* {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-weight: 500;
}

.logo-title {
  font-family: 'Inter', sans-serif;
  color: #1C10DA;
}

.subtitle {
  font-weight: 300;
  opacity: 0.6;
}

.w-100 {
  width: 100%;
}